@media (min-width: 1024px){
  .section {
    max-width: 100%;
    height: 100vh;
    padding: 30px;
    font-size: 1.5rem;
    padding: 60px 35px;
  }


}

html, body{
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:visited, #email {
  color: #4B2872;
  -webkit-text-fill-color: #4B2872;
}



#navbar li {
  margin-top: 5px;
  padding-top: 5px;
}

#navbar li a {
  text-decoration: none;
}

#navbar li a:hover {
  -webkit-text-fill-color: #FFFFFF;
  background-color: #4B2872;
}



#About {
  border-style: none;
}

#profile-image {
  height: auto;
  width: 100%;
  border-radius: 50%;
}

td {
  font-size: 1rem;
}
