html, body{
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:visited, #email {
  color: #4B2872;
  -webkit-text-fill-color: #4B2872;
}

#navbar li {
  margin-top: 5px;
  padding-top: 5px;
}

#navbar li a {
  text-decoration: none;
}

#navbar li a:hover {
  -webkit-text-fill-color: #FFFFFF;
  background-color: #4B2872;
}

#About {
  border-style: none;
}

@media (max-width: 768px){
  #profile-image {
    height: auto;
    width: 75%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p.contact{
    font-size: 0.95em;
  }
}

@media (min-width: 768px){
  #profile-image {
    height: auto;
    width: 100%;
    border-radius: 50%;
  }

  p.contact{
    font-size: 1.75rem;
  }

  ul#social-media li a, #email{
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px){
  .section {
    max-width: 100%;
    height: 100vh;
    padding: 60px 0px;
  }

  ul#social-media li a, #email{
    font-size: 2rem;
  }

  p.contact{
    font-size: 2rem;
  }

  p.card-text{
    font-size: 2.5rem;
  }
}
