@media (max-width: 768px)  {

}

@media (min-width: 1024px)  {

}

.navbar{
}

#navbar li {
  margin-top: 5px;
  padding-top: 5px;
}

#navbar li a {
  text-decoration: none;
}

#navbar li a:hover {
  -webkit-text-fill-color: #FFFFFF;
  background-color: #4B2872;
}
